<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CapsuleCRMTestAutomationSuite">

	<listeners>
		<listener
			class-name="com.capsuleCRM.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test thread-count="5" name="CapsuleCRMTest">
		<classes>
			<class name="com.capsuleCRM.testcases.PersonAndCasePageTest" />
            <class name="com.capsuleCRM.testcases.AccountsPageTest" />
			
		</classes>
	</test> <!-- CapsuleCRMTest -->
</suite> <!-- CapsuleCRMTestAutomationSuite -->
